* {box-sizing:border-box}

body{
	font-family: '微软雅黑' !important;
	font-size: 14px;
	background-image: url(../images/bg.png);
	background-color: #F8F6ED;
	background-size: cover;
    background-repeat: no-repeat;
	color: #333333;
	height:100%;
	padding:0px; 
	margin:0px;
}
/*---------------------*/
/*------General--------*/
/*---------------------*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next,.swiper-button-prev{
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid #2AACA1;
    border-radius: 3px;
    background: #2AACA1;
}
.swiper-button-next{
	padding: 4px 15px;
}
.swiper-button-prev{
	padding: 4px 14px;
}


.wrapper{
	min-height:100%; 
	position:relative
}
.header{
	margin: 20px 40px;
}

.logo{
	width: 70%;
	max-width: 472px; 
}
.logo-sm{
	width: 50%;
	max-width: 225px; 
}
.content-block{
	display: block;
	position: relative;
	margin: 20px 60px;
}
.login-section{
	float: right;
	display: inline-block;
}

.login-section .btn{
	border-radius: 1px;
	height: 40px;
	background: transparent;
}
.login-section button:focus{
	box-shadow: none;
	outline:0 !important;
}

.lang-drop, .sign-login{
	display: inline-block;
	margin-top: 20px;
}

.lang-drop{
	margin-right: 40px;
}

.lang-drop .btn{
	border: 1px solid #CBCBCB;
	width: 113px;
	text-align: left;
	padding-left: 20px;
}
.lang-drop .dropdown-menu{
	min-width: 113px;
    margin-top: -1px;
    border-radius: 1px;
    padding: 0px 0;
    background: transparent;
}
.lang-drop .dropdown-menu > li > a{
	padding: 10px 15px;
	color: #85837D;
	font-size: 12px
}
.sign-login .btn{
	border:none;
}
.img-lg{
	position: absolute;
    top: -50%;
    z-index: 99;
}
.img-sm{
	margin: 0 auto;
}

.img-hidden{
	opacity: 0;
	transition:0.8s;
}

.img-active{
	opacity: 1;
	transition:0.8s;
}

.footer-link > *{
	display: inline-block
}
.btn-theme-white,.btn-theme-white-lg{
	background: transparent;
	color: #2AACA1;
	border: 1px solid #2AACA1;
}
.btn-theme,.btn-theme-lg,.btn-back{
    background: #2AACA1;
    color: white;
    border-radius: 1px;
}
.btn-theme{
	padding: 5px 20px;
    margin: 10px;
}
.btn-back{
	padding: 5px 9px;
	margin-top: 10px;
}
.btn-back > i{
	font-size: 12px;
}
.btn-back:hover,
.btn-back:focus,
.btn-theme:hover,
.btn-theme:focus,
.btn-theme-lg:hover,
.btn-theme-lg:focus,
.apply-button:hover,
.apply-button:focus{
	opacity: 0.8;
	color: white;
}
.btn-theme-white:hover,
.btn-theme-white:focus,
.btn-theme-white-lg:hover,
.btn-theme-white-lg:focus{
	opacity: 0.6;
	color: #2AACA1;
}
.btn-theme-lg{
	width: 100%
}
.btn-theme-lg{
    padding: 13px 0;
    margin-top: 10px;
}
.footer{
	position: relative;
	padding: 20px 50px;
}
/*-------------------*/
/*------index--------*/
/*-------------------*/
.index-block{
	margin: 10% 40px;
}
.animated-content{
	position: fixed;
	right: 0px;
	z-index: -1;
}
.animated-content img{
	position: fixed;
	right: 0px;
	z-index: -1;
}

div[name = search] > img{bottom: 0px;}
div[name = special] > img{bottom: 0px;}
div[name = shows] > img{bottom: 0px;}
div[name = activity] > img{top: 0px;}

.index-item{
	margin: 20px 0px;
}
.index-item > * > div{
	width: 100%;
}
.index-footer{
	position: fixed;
    bottom: 20px;
    left: 50px;
}

/*-------------------*/
/*------login--------*/
/*-------------------*/
.login-modal{
	max-width: 370px;
	margin-top: 10%;
}
.sign-modal{
	margin-top: 5%;
}
.login-modal .form-group > input{
	width: 310px;
	padding: 20px 15px;
	border: 1px solid #C0C0C0;
	border-radius: 2px;
}
.login-modal .modal-body button{
	margin-top: 25px;
}
.form-group > label{
	font-size: 14px;
	color: #808080;
}
.login-modal > .modal-content{
	padding: 20px 15px;
}
.modal-header{
	border: 0px;
	padding: 7px 15px;
}
.modal-header .btn-active{
	font-size: 22px !important;
	color: #14A599 !important;
}
.modal-header > .sign-login{
	margin: 0 auto;
    width: 310px;
    text-align: center;
}
.modal-header > .sign-login > .btn{
	font-size: 20px;
	color: #C0C0C0;
}
.modal-header > .sign-login > span{
	font-size: 20px;
    color: #C0C0C0;
    top: 4px;
    position: relative;
    font-weight: 100 !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 12px;
	color: #C0C0C0;
	font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
	font-size: 12px;
	color: #C0C0C0;
	font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 12px;
	color: #C0C0C0;
	font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 12px;
	color: #C0C0C0;
	font-weight: 100;
}
.form-group{
	margin-bottom: 10px;
}
.form-other{
	margin-top: 0px;
	margin-bottom: 10px;
}
.link-theme{
	color: #25ABA0;
}

/*-------------------*/
/*------shows--------*/
/*-------------------*/

.month-slide > .btn-theme-white{
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    line-height: 2;
    margin: 15px 20px;
}

@media (max-width:768px){
	.logo{
		width: 100%;
		margin: 0 auto;
	}
}

/* Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*-------------------------------*/
/*----------activity Page--------*/
/*-------------------------------*/

.activity-content .btn-back{
	display: inline-block;
    float: left;
}
.activity-header{
	margin-bottom: 20px;
}
.tool-bar{
	display: inline-block;
	margin: 5px 40px;
}
.tool-bar > .nav-tabs{
	border: 0px;
}
.nav-tabs>li{
	margin-right: 20px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    background-color: #25ABA0;
    border: 0px;
    border-radius: 25px;
    border-bottom-color: transparent;
}
.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover{
	padding: 10px 20px;
	background-color:transparent;
	color: #85837D;
	border: 0px;
	border-radius: 25px;
    border-bottom-color: transparent;
}
.nav-tabs>li>a:hover{
	opacity: 0.5;
}
.search-section{
	float: right;
	display: inline-block;
}
.search-section .btn{
	border-radius: 1px;
	height: 40px;
	background: transparent;
}
.search-section button:focus{
	box-shadow: none;
	outline:0 !important;
}
.search-section > .lang-drop{
	margin-top: 10px;
}
.search-section > .lang-drop .btn{
    width: 147px;
    padding-left: 0px;
    text-align: center;
}
.search-section > .lang-drop > .dropdown-menu{
	min-width: 147px;
}
a.apply-button{
	display: inline-block;
    text-align: center;
    height: 40px;
    margin-top: 10px;
    line-height: 14px;
    float: right;
}
/*-------------------------------*/
/*-----------Event Page*---------*/
/*-------------------------------*/
.change-button {
	top: 30px;
}

.previous {
  background-color: #2AACA1;
  color: #ffffff;
  padding: 8px 15px 8px 15px;
}

.container .back-pic {
	margin: 30px 0 30px 0;
}

.info {
	margin-top: 20px;
	padding-left: 25px;
	background-color: #EDF2E8;
	color: #A6A39A;
	border-left-color: #25ABA0;
	border-left-style: solid;
}
.blog-post {
	padding-bottom: 30px;
}
.blog-post p {
	text-indent: 2em; 
	font-size: 16px;
	line-height: 38px;
}
.activity-header .lang-drop .dropdown-menu{
	background-color: rgba(255, 255, 255, .8)
}
.blog-post:hover {
	color: #00bcd4;
}

.bottom-button {
  height: 100px;
  padding: 60px 60px 70px 60px;
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
}

.apply-button {
  width: 150px;
  height: 50px;
  font-size: 18px;
  background-color: #25ABA0;
  color: #ffffff;
  padding: 12px 30px 10px 30px;
  margin: auto;
}
.activity-slide{
  max-width: 356px;
  padding:12px 15px;
  border: 15px solid;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-image: url(../images/block.png) 15 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/block.png) 15 round; /
  border-image: url(../images/block.png) 15 round;
  margin: 10px auto;
}
.activity-slide-info .title{
	text-align: left;
	margin-bottom: 4px;
}
.activity-slide-info .title > h3{
	display: inline-block;
	color: #333333;
	font-size: 16px;
	margin-bottom: 0px;
}
.activity-slide-info .title > span{
	font-size: 16px;
	color: #25ABA0;
}
.activity-slide-info p > span{
	font-size: 12px;
	color: #25ABA0;
}
.activity-slide-info .title > span{
	margin-left: 21px;
}
.activity-slide-info p{
	font-size: 12px;
	color: #85837D;
	margin-bottom: 0px;
}
.activity-slide-info p > span{
	margin-left: 5px;
}
.image-title{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 40%;
    left: 25%;
    top: 20%;
}
.image-title > h3{
	text-align: center;
	margin: 13% auto;
	color: #333333;
	font-size: 16px;
}
.image-title > h4{
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: rgba(51,51,51, 0.6);
    border-top: 1px solid rgba(51,51,51, 0.2);
    border-bottom: 1px solid rgba(51,51,51, 0.2);
    margin: 0 auto;
    width: 60%;
}
@media (max-width:924px){
	.search-section{
		display: block;
		float: none;
	}
	.search-section a.apply-button{
		float: none;
	}
}


/*-------------------------------------------*/
/*------Special Topic Infomation Page--------*/
/*-------------------------------------------*/
.sp-info {
  margin-top: 20px;
  color: #A6A39A;
}

.sp-footer {
  height: 50px;
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
}

/*-------------------------------------------*/
/*---------------Special Page----------------*/
/*-------------------------------------------*/

.swiper-special > .swiper-slide > .special-slide{
  max-width: 700px;
  padding:15px 20px;
  border: 15px solid;
  -webkit-border-image: url(../images/special/bg.png) 15 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/special/bg.png) 15 round; /
  border-image: url(../images/special/bg.png) 15 round;
}
.special-slide-info{
	color: #525251;
}
.special-slide-info > .left{
	display: block;
    float: left;
}
.special-slider-info img{
	border-radius: 5px;
}
.special-slide-info .title{
	text-align: left;
}
.special-slide-info .title > h3{
	display: inline-block;
	font-size: 22px;
	font-weight: 100 !important;
}
.special-slide-info .title > span, .special-slide-info p > span{
	font-size: 12px;
	color: #25ABA0;
}
.special-slide-info .title > span{
	margin-left: 21px;
}
.special-slide-info p{
	float: left;
	font-size: 12px;
	color: #85837D;
	font-weight: 100 !important;
}
.special-slide-info p > span{
	margin-left: 5px;
}
.special-slide-info > .right{
	padding: 22px 2px;
}
.special-slide-info a{
	border: 1px solid #26A093;
	color: #26A093;
	float: right;
	width: 150px;
	height: 50px;
	font-size: 20px;
	line-height: 2;
}
.swiper-pagination{
    bottom: -50px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.swiper-pagination-bullet-active, .dot:hover {
  background-color: #2aaca1;
}

