body{
	font-family: '微软雅黑';
	font-size: 12px;
	color: #333333;
  background-color: #ECECEC;
	height:100%;
	padding:0px; 
	margin:0px;
}
a{
  color: #333333;
}
.wrapper{
  min-height:100%; 
  position:relative
}
.content{
  padding: 10px 10px
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.flower-content{
  height: 100%;
}
.flower-content .close:focus {
  outline: none;
}
.flower-content .close{
  z-index: 9999;
  position: absolute;
  opacity: 1;
  top: 20px;
  left: 23px;
  width: 25px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination{
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0 auto;
}
.modal-backdrop{
  display: none;
}
.btn-theme{
  background: #2AACA1;
  color: white;
  padding: 8px 5px;
  border-radius: 4px;
}
.btn-theme:hover,
.btn-theme:focus{
  opacity: 0.8;
  color: white;
}

/*-------------------------------*/
/*---Mobile Event Page*----------*/
/*-------------------------------*/
.event{
  background: #fff;
}
.event h3,.speical-info h3{
 font-size: 16px;
 color: #111111;
 margin-top: 15px;
}

.back-pic > img{
	margin: 0 auto;
}

.campustag {
  color: #797979;
  font-size: 10px;
}

.info:nth-child(2), .info:nth-child(3) {
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
  padding-top: 10px;
}
.info{
  font-size: 10px;
  color: #333333;
}
.info span{
  color: #797979;
}

.mobile-info {
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-color: #D8D8D8;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 14px;

}

.blog-post {
	padding-bottom: 30px;
  border-bottom-color: #D8D8D8;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.blog-post p {
  color: #333333;
	text-indent: 2em; 
	font-size: 14px;
	line-height: 24px;
}

.blog-post:hover {
	color: #00bcd4;
}

.bottom-button {
  height: 100px;
  padding: 60px 60px 70px 60px;
}

.sign-button{
  border-radius: 0px;
  background-color: #25ABA0;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 31px;
  cursor: pointer;
  width: 100%;
}

.footer {
  height: 50px;
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
}
/*-------------------------------------------*/
/*------Special Topic Infomation Page--------*/
/*-------------------------------------------*/
.speical-info{
  background-color: #fff;
}
.sp-info {
  color: #A6A39A;
}

.mobile-sp-info {
  border-bottom-color: #D8D8D8;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 10px;
}

.mobile-sp-info:hover {
  color: #00bcd4;
}
.speical-info .blog-post p{
  font-size: 12px
}
.mobile-blog-post {
  margin-bottom: 20px;
}

/*-------------------------------------------*/
/*-------------- Special Mobile Page --------*/
/*-------------------------------------------*/

.part {
  margin: 4px;
  background: #fff;
}

.pic-container {
  background-color: #ececec;
}
.special-pic{
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.inside {
  background-color: #FFFFFF;
  padding-left: 10px;
}
.inside h4{
  color: #333333;
  margin-bottom: 5px;
}
.inside p {
  font-size: 12px;
  font-weight: 150;
  color: #797979;
}

.time {
  border-top-color: #EFEFF4;
  border-top-style: solid;
  border-top-width: thin; 
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding-left: 10px;
}

.time p {
  font-size: 10px;
  padding-top: 8px;
  color: #858585;
  font-weight: 150;
}

/*-------------------------*/
/*----Index Mobile Page----*/
/*-------------------------*/

.index-part ,.index-part a{
  height: 116px;
  max-height: 180px;
  max-width: 480px;
}
.index-part{
  margin: 0px auto 15px auto;
  background: url(../images/index-mobile/back1.png)  no-repeat;
  background-size: cover;
}
.index-part a{
  margin: 0px -9px;
}
.index-show{
  background: url(../images/index-mobile/flower1.png) no-repeat;
  background-size: 146px 104px;
  background-position: 100% bottom;
}
.index-search{
  background: url(../images/index-mobile/flower2.png) no-repeat;
  background-size: 119px 99px;
  background-position: 100% bottom;
}
.index-activity{
  background: url(../images/index-mobile/flower3.png) no-repeat;
  background-size: 128px 102px;
  background-position: 100% 45%;
}
.index-special{
  background: url(../images/index-mobile/flower4.png) no-repeat;
  background-size: 120px 106px;
  background-position: 100% bottom;
}
.part-title h2,.part-title h6,.show-block h2,.show-block span,.show-block h6{
  font-weight: 200;
}
.part-title h6, .show-block h6 {
  color: #858585;
  font-size: 10px;
}
.part-title h2 ,.show-block h2{
  font-size: 22px;
}
.part-title > h2 > span{
  margin-left: 15px;
}

/*-------------------------*/
/*-----Show Mobile Page----*/
/*-------------------------*/

.show-block{
  margin: 0px auto;
  background: url(../images/show/bg.png) no-repeat;
  background-size: cover;
  max-width: 240px;
  width: 100%;
  height: 37vw;
}
.show .col-xs-4{
  padding-left: 8px;
  padding-right: 8px;
}

.show-block h2, .show-block h6{
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin:0 auto;
}
.show-block > a.normal{
  text-align: center;
}
.show-block > a.normal > h2{
  -webkit-writing-mode:initial;
  writing-mode: initial;
  margin-left: 0px;
  padding-bottom: 20px;
}

.show-block > a > h6 img{
  width: 6px;
  height: 7px;
  margin-left: -1.4px;
  margin-top: 4px;
}
.show-block h2{
  margin-left: 30%;
  padding-top: 37%;
}

/*-------------------------*/
/*-----Show info Page----*/
/*-------------------------*/
.tool-bar{
  height: 36px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px darkgrey;
  margin-bottom: 10px;
}
.tool-bar .collapse{
  transition: 1s;
  box-shadow: 0px 1px 1px 0px darkgrey;
}
.tool-bar .nav>li.active{
  background-color: #ECECEC;
}
.tool-bar .navbar-nav{
   margin: 0px auto;
}
.tool-bar .nav>li{
  display: inline-block;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
}
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
  transition: 1s;
  width: 100%;
  padding: 0px;
  margin-top: -1px;
}
#navbar-toggle-cbox {
  display: none;
}
.tool-bar .full-bar{
  margin: 0 auto;
  float: initial;
  width: 100%;
  text-align: center;
}
.tool-bar .full-collapse{
  background: white;
  position: absolute;
  z-index: 8;
  
}
.show-info-body .col-xs-6{
  padding: 7.5px;
}
.show-info-body .content{
  padding: 0px 15px;
}
.show-slide{
  max-width: 356px;
  padding: 0px;
  background-color: #fff;
  margin: 15px auto;
}
.show-slide{
  margin: 0 auto;
  border-radius: 5px;
}
.show-slide-info{
  color: #525251;
  margin: 0px;
  padding: 9px 7px;
}
.show-slide-info > a{
  cursor: pointer
}
.show-slide-info > a > h4{
  color: #525251;
  font-size: 12px;
  margin: 0px 0px 5px 0px;
}
.show-slide-info > h5{
  font-size: 8px;
  margin: 0px;
}
.flower-detail{
  background: rgba(42,172,161, 0.6) ; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(42,172,161, 0.6) , transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,rgba(42,172,161, 0.6) , transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,rgba(42,172,161, 0.6) , transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(42,172,161, 0.6) , transparent); /* Standard syntax */
  position: absolute;
  width: 100%;
  bottom: 30px;
  z-index: 9;
  color: white;
  font-size: 10px;
  padding: 9px 14px;
}
.flower-detail > p{
  margin: 0px;
}
.flower-map{
  position: absolute;
  right: 14px;
  top: 30%;
}