body{
	font-family: '微软雅黑';
	font-size: 12px;
	color: #333333;
  background-color: #ECECEC;
	height:100%;
	padding:0px; 
	margin:0px;
}
a{
  color: #333333;
}
.wrapper{
  min-height:100%; 
  position:relative
}
.content{
  padding: 10px 10px
}

/*-------------------------------*/
/*---Mobile Event Page*----------*/
/*-------------------------------*/

h3:hover {
  color: #00bcd4;
}

.container .back-pic {
	margin: 30px 0 30px 0;
}

.campustag {
  color: #797979;
}

.campustag:hover {
  color: #00bcd4;
}

.info:nth-child(2), .info:nth-child(3) {
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
  padding-top: 4px;
}

.mobile-info {
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-color: #D8D8D8;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.blog-post {
	padding-bottom: 30px;
  border-bottom-color: #D8D8D8;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.blog-post p {
	text-indent: 2em; 
	font-size: 16px;
	line-height: 38px;
}

.blog-post:hover {
	color: #00bcd4;
}

.bottom-button {
  height: 100px;
  padding: 60px 60px 70px 60px;
}

.button {
    background-color: #25ABA0;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    width: 100%;
}

.footer {
  height: 50px;
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin;
}
/*-------------------------------------------*/
/*------Special Topic Infomation Page--------*/
/*-------------------------------------------*/
.sp_info {
  margin-top: 20px;
  color: #A6A39A;
}

.mobile_sp_info {
  border-bottom-color: #D8D8D8;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 10px;
}

.mobile_sp_info:hover {
  color: #00bcd4;
}

.mobile-blog-post {
  margin-bottom: 40px;
}

/*-------------------------------------------*/
/*-------------- Special Mobile Page --------*/
/*-------------------------------------------*/
#special-mobile-body {
 background-color: #ECECEC;
}

.part {
 /* height: 245px;*/
  margin: 6px;
}

.pic-container {
  background-color: #ececec;
}
.special-pic{
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.inside {
  background-color: #FFFFFF;
}

.inside p {
  font-size: 14px;
  font-weight: 150;
}

.time {
  background-color: #ffffff;
  border-top-color: #D8D8D8;
  border-top-style: solid;
  border-top-width: thin; 
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.time p {
  font-size: 10px;
  padding-top: 8px;
  color: #858585;
  font-weight: 150;
}

/*-------------------------*/
/*----Index Mobile Page----*/
/*-------------------------*/

.index-part ,.index-part a{
  height: 116px;
  max-height: 180px;
  max-width: 480px;
}
.index-part{
  margin: 0px auto 15px auto;
  background: url(../images/index-mobile/back1.png)  no-repeat;
  background-size: cover;
}
.index-part a{
  margin: 0px -9px;
}
.index-show{
  background: url(../images/index-mobile/flower1.png) no-repeat;
  background-size: 146px 104px;
  background-position: 100% bottom;
}
.index-search{
  background: url(../images/index-mobile/flower2.png) no-repeat;
  background-size: 119px 99px;
  background-position: 100% bottom;
}
.index-activity{
  background: url(../images/index-mobile/flower3.png) no-repeat;
  background-size: 128px 102px;
  background-position: 100% 45%;
}
.index-special{
  background: url(../images/index-mobile/flower4.png) no-repeat;
  background-size: 120px 106px;
  background-position: 100% bottom;
}
.part-title h2,.part-title h6,.show-block h2,.show-block span,.show-block h6{
  font-weight: 200;
}
.part-title h6, .show-block h6 {
  color: #858585;
  font-size: 10px;
}
.part-title h2 ,.show-block h2{
  font-size: 22px;
}
.part-title > h2 > span{
  margin-left: 15px;
}

/*-------------------------*/
/*-----Show Mobile Page----*/
/*-------------------------*/

.show-block{
  margin: 0px -14px;
  background: url(../images/show/bg.png)  no-repeat;
  background-size: cover;
  height: 130px;
  max-width: 240px;
}
.show-block h2, .show-block h6{
  writing-mode: tb-rl;
  margin:0 auto;
}
.show-block > a.normal{
  text-align: center;
}
.show-block > a.normal > h2{
  writing-mode: initial;
  margin-left: 0px;
  padding-bottom: 20px;
}

.show-block > a > h6 img{
  width: 6px;
  height: 7px;
  margin-left: -1.4px;
  margin-top: 4px;
}
.show-block h2{
  margin-left: 30%;
  padding-top: 37%;
}
